.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #9b9393;

    .nav-container{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0px 5px;
                margin: 0px 10px;
                font-size: 24px;
                cursor: pointer;
                color: #9b9393;
            }
            li:hover{
                color: #000000;
            }

        }
    }
}