.shimmer-card{
    width: 300px;
    padding: 10px;

    .shimmer-name{
        height: 20px;
        background-color: #e0e0e0;
        margin-bottom: 10px;
    }
    .shimmer-image{
        height: 250px;
        background-color: #e0e0e0;
        margin-bottom: 10px;
        border-radius: 20px;
    }
}