.res-card{
    width: 300px;
    border: 1px solid transparent;
    padding: 25px;
    border-radius: 10px;
    img{
        width: 300px;
        height: 250px;
        border-radius: 20px;
        align-items: center;

    }
    p,h4{
        margin: 6px 0px;
    }
}

.res-card:hover{
    border: 1px solid rgba(141, 15, 15, 0.5);
}