.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(141, 15, 15);
    color: white;
    .nav-container{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0px 5px;
                margin: 0px 10px;
                font-size: 22px;
                cursor: pointer;
                a{
                    color: white;
                }
            }
            li:hover{
                color: white;
                text-decoration: underline;}

        }
    }
    .right-container{
        display: flex;
        align-items: center;
        gap: 10px;
        
        .cart-icon{
            font-size: 24px;
            cursor: pointer;
            color: white;
        }
    }
}